# Git
.git
.gitignore

# Rust
target/
**/*.rs.bk
# Cargo.lock dosyasını hariç tutmuyoruz çünkü Docker build için gerekli

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Diğer
.env
.env.*
*.log
data/
tmp/
.DS_Store 