# Git
.git
.github

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Exclude the target directory but keep the ELF file path structure
!target/elf-compilation/riscv32im-succinct-zkvm-elf/release/ 